.App {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.input-add-todo {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.add-todo {
  width: 10%;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.delete-button {
  margin-left: auto;
}

.text {
  margin: 0 10px;
}

ul {
  margin: 0;
  padding: 40px 0;
}
